.nav-title {
    background-color: rgb(174, 227, 224);
    text-align: center;
}
.navbar{
    background-color: rgb(213, 243, 248);
    display: flex;
    text-align: justify;
    border-radius: 2%;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: baseline;
    flex-direction: column-reverse;

}
.navbar li {
    margin-right: 50%;
}
.navbar a:hover {
    text-decoration: underline;
}

.navbar a {
    color: bisque;
    text-decoration:dashed ;
}


  .navbar {
    height: 70px;
    padding: 1%;
    
  }
  .navbar li {
    height: auto;
    width: 135.8px;
    float: left;
    text-align: center;
    list-style: none;
    font: normal bold 13px/1em Arial, Verdana, Helvetica;
    padding: 0%;
    margin: 10;
    background-color: coral;
  }

  .navbar a {
    padding: 20px 0;
    text-decoration: none;
    color: white;
    display: block;
  }

  .navbar li:hover,
  a:hover {
    background-color: #444444;
  }
  .navbar li ul {
    display: none;
    height: auto;
    margin: 0%;
    padding: 0;
  }
  .navbar li:hover ul {
    display: block;
  }
  .navbar li ul li {
    background-color: #444444;
  }
  .navbar li ul li a {
    border-left: 1px solid #444444;
    border-right: 1px solid #444444;
    border-top: 1px solid #c9d4d8;
    border-bottom: 1px solid #444444;
  }
  .navbar li ul li a:hover {
    background-color: #a3a1a1;
  }

    .container-section {
    display: flex;
 }
  .article-coontainer{
    flex-direction: column;
    border-style: dotted;
  }

  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 100px;
    grid-gap: 10px;
}
.button-nav {
  background-color: coral;
  border-left: 2%;
}

@font-face {
  font-family: "bertha";
  src: url(/bertha/Bertha.ttf)
}
header h1 {
  font-family: "bertha";
} 
@font-face {
  font-family: "Mia";
  src: url(/bertha/MiaKhalifah.ttf);
}
p {
  font-family: "Mia";
  font-size: 200%;
}

.button-banner {
  background-color: coral;
  border-left: 2%;
  height: auto;
  width: 135.8px;
  float: left;
  text-align: center;
  list-style: none;
  font: normal bold 13px/1em Arial, Verdana, Helvetica;
  padding: 0%;
  margin: 10;
  background-color: coral;
}